.profile__name-and-edit-button{
    margin:0;
    margin-top: 18px;
    display: flex;
}
@media screen and (max-width:630px){
    .profile__name-and-edit-button{
        margin: auto;
        margin-bottom: 14px;
        margin-top: 10.25px;
    }
}