.tooltip__logo{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin:auto;
    margin-bottom:60px;
    margin-top: 32px;
}